<h1>Objetos restaurados</h1>

<%= link_to "Añadir objeto", new_restored_object_path %>
<br/>
<% @objects.each do |obj| %>
    <%= link_to obj.title, obj, data: { no_turbolink: true } %>
    <hr/>
<% end %>