/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
  --main-bg-color: #fff;
  --main-border-color: #fff;
  --main-dark-color: #151244;
  --main-focus-color: #3601d8;
  --main-focus-shadow-color: #251581;
  --main-hover-color: #ffe600;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  background: var(--main-dark-color);
  bottom: 5px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  position: fixed;
  right: 5px;
  z-index: 800;
}

.beauty {
  height: 26em;
  margin-top: 5em;
  margin-bottom: 5em;
  background-image: url('https://images.freeimages.com/images/large-previews/fd8/masks-1548494.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.beurty-prop {
  margin: 3em;
}

.big {
  font-size: 1.2em;
}

.brand-title {
  font-size: 0.8em;
  text-align: center;
}

.brand-title img {
  width: 60%;
}

.branding {
  background: var(--main-focus-color);
  color: white;
  padding: 1em;
}

.card-custom-category {
  height: 18em;
}

.card-custom-footer {
  height: 5em;
}


.card-custom-style {
  border-radius: 5px !important;
  background: rgba(3, 40, 64, 0.8);
  margin-left: 0.1em !important;
  margin-right: 0.1em !important;
  height: 5em !important;
}

.centred-objects {
  text-align: center;
}

.clip-button {
  margin-right: 10px !important;
  width: auto !important;
}

.color_buttons_editor {
  background: rgba(3, 40, 64, 0.8);
}

.card-text {
  height: 80%;
}

#editor {
  background: linear-gradient(to bottom right,#031634, #033649);
  overflow: hidden;
}

#editor {
  width: 100%;
  height: 100%;
}

.extras {
  align-items: stretch !important;
}

.form-control {
  height: auto;
}

.gmap {
  width: 100%;
}

.home-header {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 6em;
}

.home-header img {
  width: 50%;
}

.home-header h2 {
  font-size: 1.2em;
}


.index-up-w {
  width: 100%;
}

#info-container {
  background: var(--main-bg-color);
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  right: -35%;
  top: 0;
  width: 35%;
}

#info-container label {
  font-size: 1.2em;
  font-weight: bold;
}

.info-field {
  margin-bottom: 10px;
}

#info-toggle {
  background: var(--main-bg-color);
  color: var(--main-focus-color);
  font-size: 0.8em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  right: 0;
  padding: 0.6em;
  padding-left: 1em;
  position: fixed;
  top: 48%;
}

.inline-icon {
  display: inline;
  height: 1.5vw;
  margin-bottom: 2%;
  width: auto;
}

.loader {
  position: fixed;
  right: 10px;
  bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background: white;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 5px;
}

.loader img {
  height: 3em;
  margin-right: 1em;
}

.main {
  color: var(--main-focus-color);
}

#measure {
  background: var(--main-bg-color);
  bottom: -20em;
  position: fixed;
  right: 0;
  border-top-left-radius: 5px;
  opacity: 0.25;
  width: 30em;
  height: 10em;
  z-index: 10000;
}

.measure-font {
  font-size: 300%;
  text-align: center;
}

.measure-column {
  margin-top: 2em;
  margin-bottom: 2em;
}

.measure-paragraph {
  margin: 0em;
  text-align: center;
}

.measure-button {
  background: var(--main-focus-color) !important;
  border: none !important;
  width: 100%;
}

.measure-image {
  width: 50px;
  height: 50px;
}

#mini-branding {
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  cursor: pointer !important;
}

#mini-branding h1 {
  font-size: 1em;
}

#mini-brand {
  padding: 5px;
  cursor: pointer !important;
}

#mini-brand img {
  max-height: 1.5em;
}

#mini-brand h1 {
  cursor: pointer;
}

#mini-menu {
  background: var(--main-bg-color);
  padding: 1em;

}

.navbar-brand img {
  max-height: 35px;
}

.no-padding {
  padding-bottom: 0;
}

.no-underline {
  text-decoration: none !important
}

#overlay, #overlay-threejs {
  background: var(--main-dark-color);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 990;
}

#overlay {
  display: none;
}

.padding-toolbar {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.pointer {
  cursor: pointer;
}

.right {
  float: right;
}

.right-objects {
  text-align: right;
}

.svg-icon {
  width: 50%;
  height: auto;
}

.tools {
  flex-wrap: wrap;
}

.tools * {
  flex-grow: 1;
}

.toolbar-button {
  background: white !important;
  border: 2px solid var(--main-focus-color)  !important;
  color: var(--main-focus-color) !important;
  font-size: 1.2em;
  margin-left: 2px;
  margin-right: 2px;
  width: 100%;
  transition: all ease-in-out 500ms;
}

.toolbar-button:hover {
  border-color: var(--main-hover-color) !important;
}

#toolbar {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  width: 20%;
}

.toolbar-container {
  padding: 0.5em;
}

.toolbar-section, .toolbar-section-row {
  margin-bottom: 0.8em;
}

.toolbar-section p {
  margin-bottom: 5px;
}

.toolbar-section-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.visible {
  display: block;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.8em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--main-dark-color);
  border-radius: 0.4em;
  border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px var(--main-focus-shadow-color), 0px 0px 0px var(--main-focus-shadow-color);
  border: none;
  height: 1.3em;
  width: 18px;
  border-radius: 3px;
  background: var(--main-focus-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.7px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: var(--main-dark-color);
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 0.8em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--main-dark-color);
  border-radius: 0.4em;
  border: 0px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px var(--main-focus-shadow-color), 0px 0px 0px var(--main-focus-shadow-color);
  border: none;
  height: 1.3em;
  width: 18px;
  border-radius: 3px;
  background: var(--main-focus-color);
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 0.8em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #3c4040;
  border: 0px solid #010101;
  border-radius: 0.4em;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: var(--main-dark-color);
  border: 0px solid #010101;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 0px 0px 1px var(--main-focus-shadow-color), 0px 0px 0px var(--main-focus-shadow-color);
  border: none;
  height: 1.2em;
  width: 18px;
  border-radius: 3px;
  background: var(--main-focus-color);
  cursor: pointer;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: var(--main-dark-color);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: var(--main-dark-color);
}

@media only screen and (max-width: 819px) {
  #toolbar {
    width: 45%;
  }

  .toolbar-button {
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 820px) {
  #toolbar {
    width: 35%;
  }

  .toolbar-button {
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 1100px) {
  #toolbar {
    width: 28%;
  }

  .toolbar-button {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1500px) {
  #toolbar {
    width: 20%;
  }
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}